@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

/*Cabecera*/

#cabecera {
	width: 100%;
	background-color:#6EBB91;
	height:50px;
	padding: inherit;
}

/*Header*/

header {
	background-color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin:0px 0px 0px 20px;
	font-size: 28px;
	color:white;
	font-family: "Ubuntu", "sans-serif";
}

/*Botonera*/

.botonera {
	width: 100%;
	height: 50px;
	background-color:#C7E9B2;
	padding: 12px 0px 25px 0px;
	position:sticky;
	top: 0px;
}

li {
	font-family: Nunito, Saira, Roboto, "sans-serif";
	font-family: 'Roboto', sans-serif;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	
}

.botonera a {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	color: #000000;
	padding: 10px 20px;
	margin: 10px 0px 10px 10px;
	border: 1.5px solid white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: Nunito, Saira, Roboto, "sans-serif";
	font-family: 'Roboto', sans-serif;
	border-radius: 7%;
}

.botonera a:hover {
	color: #FFFFFF;
	background-color:#A9D898;
}

.botonera a:active {
	background-color:#6EBB91;
	color: #FFFFFF; 
}

/*Perfil*/

.container {
	max-width: 715px;
	height: 500px;
	margin: 40px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.informacion {
	padding-top: 20px;
	list-style: none;
	line-height: 23px;
}

.profile-image {
	float: left;
	width: 400px;
	height: 500px;
	border-radius: 5%;
	overflow: hidden;
	margin-right: 20px;
}

.profile-image img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.info {
	margin-left: 210px;
}

h2 {
	padding:180px 0px 0px 100px;
	font-size: 26px;
}

p {
	font-family: Nunito, Saira, Roboto, "sans-serif";
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: "Ubuntu", "sans-serif";
	font-size: 30px;
	font-weight:600px;
	font-style: normal;
	text-decoration:inherit;
}

@font-face {
	font-family: "Ubuntu";
	src:url("fonts/Ubuntu-Medium.ttf") formar('truetype');
	font-weight: normal;
	font-style: normal;
}

/*Datos sobre mi*/

section {
	padding: 40px;
	max-width: 10%;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.cards {
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: center;
}

h3 {
	font-family: "Ubuntu", "sans-serif";
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-size: 15px;
	line-height: 1.6;
}

/*Skills*/

.habilidad {
	display: flex;
	flex-direction: column;
	margin: 40px auto;
	max-width: 1200px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #FFFFFF;
}

h4 { 
	font-family: "Ubuntu", "sans-serif";
	font-size: 24px;
	margin: 30px 60px 60px;
}

.habilidad-etiqueta {
	font-family: "Roboto", "sans-serif";
		
}

.habilidad-barra {
  width: 100%;
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

.progreso {
  height: 100%;
  width: 0;
  border-radius: 10px;
}

.photoshop-progreso {
  background-color: #6EBB91;
  animation: fill-progress 4s ease forwards;
}

.illustrator-progreso {
  background-color: #6EBB91;
  animation: fill-progress 4s ease forwards;
  animation-delay: 0.5s; 
}

.indesign-progreso {
  background-color: #6EBB91;
  animation: fill-progress 4s ease forwards;
  animation-delay: 1s; 
}

.html-progreso {
  background-color: #6EBB91;
  animation: fill-progress 4s ease forwards;
  animation-delay: 1.5s; 
}

@keyframes fill-progress {
  from { width: 0; }
  to { width: 100%; }
}

/*Proyectos*/

.trabajos {
	padding: 50px 0px 50px 0px;
	background-color:#C7E9B2;
	margin: 60px 0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
}

h5 {
	color:#000000;
	font-family: "Ubuntu", "sans-serif";
	font-size: 24px;
	padding: 0px 60px
}

.contenido h3 {
	color: #529E79;
	margin: 25px 0px 7px 0px;
	line-height: 20px;
	font-size: 18px;
}

.contenido p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 60px 5px 15px;
	max-width: 70%;
}

.tps {
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}

.caja img{
	border: 1.5px solid white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
  transition: transform 0.2s ease;
}

img:hover {
  transform: scale(1.1);
}

.a {
	flex-grow: 0;
	order:3; 
}

.b {
	flex-grow: 0;
	order:2; 
}

.c {
	margin-right: -68px;
	flex-grow: 0;
	order:1;
}

.d {
	flex-grow: 0;
	margin-top: 40px;
	order:4;
}

.e {
	flex-grow: 0;
	margin: 40px;
	order:5;
}

.f {
	margin: 40px;
	order:6;
}


h6 {
	font-size: 20px;
	margin-bottom: 20px;
	font-family: "Ubuntu", "sans-serif";
}

aside p {
	margin-top: 40px;
}

/*Video multimedia*/

.video{
	display: flex;
	margin-top: 60px;
	padding: 30px;
	justify-content: center;
}

.contenido-video{
	display: flex;
	padding: 25px 40px 0px 40px;
	align-items:center;
}

.contenido-video video{
	width: 820px;
	height: 462px;
	border-radius: 10px;
	border: 1px solid #8E452D;
	background: #000000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.contenido-info {
	margin: 40px 0px;
	padding: 20px 20px;
}
.contenido-info h4{
	display: flex;
	padding: 10px 5px;
	color:#000000;
	font-size: 30px;
	font-family: "Ubuntu", "sans-serif";
}

.contenido-info p{
	width: 500px;
	display: flex;
	padding: 0px 20px;
	font-family: 'Roboto', sans-serif;
}

/*Formulario*/

.formulario {
	background-image:url("img/patron.png");
	background-size: cover;
	font-family: "Nunito, Saira, Roboto" , sans-serif;
	width: 100%;
}

h7 {
text-align: center;
color: black;
margin: 40px;
font-family: 'Roboto', sans-serif;
font-size: 25px;
padding: 0px;

}

.form {
height: auto;
width: 50%;
font-family: "Nunito, Saira, Roboto",sans-serif;
margin: 0 auto;
margin-top: 0px;
padding: 20px;
border-radius: 15px;
}

form {
font-family: "Nunito, Saira, Roboto",sans-serif;
padding: 0;
width: 90%;
border-radius: 15px;
margin: 0 auto;
margin-bottom: 20px;
}

.feedback-input {
color: #000;
font-family: "Nunito, Saira, Roboto",sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 22px;
background-color: none;
padding: 13px 13px 13px 13px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
border-bottom: 2px solid #000000;
border-top: none;
border-left: none;
border-right: none;
}

.feedback-input:focus {
color: #6EBB91;
transition: .4s ease;
outline: none;
border-bottom: 2px solid black;
padding: 13px 13px 13px 13px;
}

.focused {
  color: #6EBB91;
  border: #6EBB91 solid 3px;
}

textarea {
width: 100%;
height: 150px;
line-height: 150%;
resize: vertical;
}

#button-blue {
font-family: "Nunito, Saira, Roboto",sans-serif;
font-weight: 400;
width: 100%;
border: none;
cursor: pointer;
background-color: #6EBB91;
color: white;
font-size: 24px;
padding-top: 22px;
padding-bottom: 22px;
margin-top: -4px;
transition: .3s ease;
}

#button-blue:hover {
background-color: rgba(0, 0, 0, 0);
color: black;
background: #6EBB91;
}

.submit:hover {
color: #6EBB91;
}
/*Footer*/

footer {
	display: flex;
	background-color: #6EBB91;
	padding: 5px 0px 30px 20px;
	justify-content: center;
	margin-top: 60px;
	color: white;
}